<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<button id="top" title="Go to top">Top</button>
	<div class="page-header">
	<h1 style="text-align:center; color:#f0ad4e; ">Diary</h1>
	<a href="/index" class="btn btn-success">Back</a>
	<button id="setting" style="margin-top:-68px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
	</div>
	</div>
	<br>
	{{#each entry}}
	<div id="loop" style = "margin-top:-21px;" class="container diary-area text-center">
		<div id = "one" class="text-center">
			<text class="text-center" style="font-size:15px; " id="date">{{data.date}} {{data.time}}</text><br class="rating-br">
			<div style="margin-top:20px; margin-bottom: 20px;" class=" container text-center">
					<img  src="{{data.imageURL}}" style="width:40vw; height:45vh">
			</div>
			<div id="input">
				<textarea id="comments" rows="4" cols="25" class="row diary-textarea text-center" readonly>{{data.comments}}</textarea><br/>
			</div>
			<div id="ratings" class="text-center diary-rating">
				<text id="health">Health: {{data.health}} &#9734;</text><br>
				<text id="taste">Taste: {{data.taste}} &#9734;</text><br>
				<text id="mood">Mood: {{data.mood}} &#9734;</text><br>
				<text id="anxiety">Anxiety: {{data.anxiety}} &#9734;</text>
				<input type="hidden" value={{key}} id="key">
			</div>
			<br>
			<button class="edit btn btn-sm " style="margin-top: -60px; margin-left:12px;">Edit</button>
			<button class="remove btn btn-sm" id="remove" style="float:right;margin-top: -60px;">Remove</button>
			<br>
		</div>
	</div>

	{{/each}}
<br>



		<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
		<script>
			$(document).ready(function(){
				var config = {
					apiKey: "AIzaSyCSHqADgMlrT2iHoWBp7NLwePbmFG2S4PM",
					authDomain: "my-project-1519903201611.firebaseapp.com",
					databaseURL: "https://my-project-1519903201611.firebaseio.com",
					projectId: "my-project-1519903201611",
					storageBucket: "my-project-1519903201611.appspot.com",
					messagingSenderId: "58050717665"
				};
				firebase.initializeApp(config);
				let remove = document.getElementById('remove');
				remove.addEventListener('onclick',function(){
					let key = $(this).siblings('#ratings').children('#key');
					let UUID = firebase.auth().currentUser.uid;
					key = key[0].value;
			//		$(this).parent('#loop').remove();
					$(this).parent("#one").parent().remove();
					let value = $.trim($(this).siblings('#date').text());
					let ref = firebase.database().ref('users/'+UUID+'/'+key);
					ref.remove();
				},false);
				});
		</script>
	 	<script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/jquery.rateit.min.js"></script>
		<script src="/js/scroll.js"></script>
		<script src="/js/edit.js"></script>


</body>
</html>
