<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">

</head>
<body>
	<button id="top" title="Go to top" onclick="topFunction()">
		<i class="fas fa-angle-double-up"></i>
	</button>
	<div class="text-center">
	<h1 style="color:#f0ad4e; ">Diary</h1>
	<a href="/index" class="btn btn-success" style="float:left; margin-left: 1vw; margin-top:1vh">
		<i class="fas fa-angle-double-left"></i>
	</a>
	</div>

	<diary-entry-list class="list" id="list">
		<diary-entry>
				<diary-date>04/25/2019 2:37PM</diary-date>
				<div style="margin-top:20px; margin-bottom: 20px;" class="container ">
						<img src="./images/fake1.png" style="width:40vw; height:45vh">
				</div>
				<diary-comment>
					<textarea rows="4" cols="25" class="diary-textarea text-center" readonly>THIS IS A PLACEHOLDER COMMENT</textarea>
				</diary-comment>
				<diary-rating  class="diary-rating">
					Health: <text class="health"> 4 &#9734;</text><br>
					Taste: <text class="taste"> 4 &#9734;</text><br>
					Mood: <text class="mood"> 4 &#9734;</text><br>
					Anxiety: <text class="anxiety"> 4 &#9734;</text>
				</diary-rating>

				<button class="remove btn  diary-button" title="Delete Entry">
					<i class=" fa-trash-alt fas"></i>
				</button>
				<button class="edit btn  diary-button" title="Edit Entry">
					<i class="fa-edit fas "></i>
				</button>
				<button class='btn  diary-button cancel' style="display:none"><i class='fas fa-times'></i></button>
				<button class='btn  diary-button change' style="display:none"><i class='fas fa-check'></i></button>


		</diary-entry>
				<diary-entry>
				<diary-date>04/25/2019 2:37PM</diary-date>
				<div style="margin-top:20px; margin-bottom: 20px;" class="container ">
						<img src="./images/fake1.png" style="width:40vw; height:45vh">
				</div>
				<diary-comment>
					<textarea rows="4" cols="25" class="diary-textarea text-center" readonly>THIS IS A PLACEHOLDER COMMENT</textarea>
				</diary-comment>
				<diary-rating  class="diary-rating">
					Health: <text class="health"> 4 &#9734;</text><br>
					Taste: <text class="taste"> 4 &#9734;</text><br>
					Mood: <text class="mood"> 4 &#9734;</text><br>
					Anxiety: <text class="anxiety"> 4 &#9734;</text>
				</diary-rating>

				<button class="remove btn  diary-button" title="Delete Entry">
					<i class=" fa-trash-alt fas"></i>
				</button>
				<button class="edit btn  diary-button" title="Edit Entry">
					<i class="fa-edit fas "></i>
				</button>
				<button class='btn  diary-button cancel' style="display:none"><i class='fas fa-times'></i></button>
				<button class='btn  diary-button change' style="display:none"><i class='fas fa-check'></i></button>
		</diary-entry>
				<diary-entry>
				<diary-date>04/25/2019 2:37PM</diary-date>
				<div style="margin-top:20px; margin-bottom: 20px;" class="container ">
						<img src="./images/fake1.png" style="width:40vw; height:45vh">
				</div>
				<diary-comment>
					<textarea rows="4" cols="25" class="diary-textarea text-center" readonly>THIS IS A PLACEHOLDER COMMENT</textarea>
				</diary-comment>
				<diary-rating  class="diary-rating">
					Health: <text class="health"> 4 &#9734;</text><br>
					Taste: <text class="taste"> 4 &#9734;</text><br>
					Mood: <text class="mood"> 4 &#9734;</text><br>
					Anxiety: <text class="anxiety"> 4 &#9734;</text>
				</diary-rating>

				<button class="remove btn  diary-button" title="Delete Entry">
					<i class=" fa-trash-alt fas"></i>
				</button>
				<button class="edit btn  diary-button" title="Edit Entry">
					<i class="fa-edit fas "></i>
				</button>
				<button class='btn  diary-button cancel' style="display:none"><i class='fas fa-times'></i></button>
				<button class='btn  diary-button change' style="display:none"><i class='fas fa-check'></i></button>
		</diary-entry>
				<diary-entry>
				<diary-date>04/25/2019 2:37PM</diary-date>
				<div style="margin-top:20px; margin-bottom: 20px;" class="container ">
						<img src="./images/fake1.png" style="width:40vw; height:45vh">
				</div>
				<diary-comment>
					<textarea rows="4" cols="25" class="diary-textarea text-center" readonly>THIS IS A PLACEHOLDER COMMENT</textarea>
				</diary-comment>
				<diary-rating  class="diary-rating">
					Health: <text class="health"> 4 &#9734;</text><br>
					Taste: <text class="taste"> 4 &#9734;</text><br>
					Mood: <text class="mood"> 4 &#9734;</text><br>
					Anxiety: <text class="anxiety"> 4 &#9734;</text>
				</diary-rating>

				<button class="remove btn  diary-button" title="Delete Entry">
					<i class=" fa-trash-alt fas"></i>
				</button>
				<button class="edit btn  diary-button" title="Edit Entry">
					<i class="fa-edit fas "></i>
				</button>
				<button class='btn  diary-button cancel' style="display:none"><i class='fas fa-times'></i></button>
				<button class='btn  diary-button change' style="display:none"><i class='fas fa-check'></i></button>
		</diary-entry>
		<!-- {{#each entry}}
		<diary-entry data-key="{{key}}" >
				<text style="font-size:15px; " >{{data.date}} {{data.time}}</text>
				<div style="margin-top:20px; margin-bottom: 20px;" class="container ">
						<img  src="{{data.imageURL}}" style="width:40vw; height:45vh">
				</div>
				<diary-comment>
					<textarea  rows="4" cols="25" class="diary-textarea text-center" readonly>{{data.comments}}</textarea>
				</diary-comment>
				<diary-rating  class="diary-rating">
					<text >Health: {{data.health}} &#9734;</text><br>
					<text >Taste: {{data.taste}} &#9734;</text><br>
					<text >Mood: {{data.mood}} &#9734;</text><br>
					<text >Anxiety: {{data.anxiety}} &#9734;</text>
				</diary-rating>
				<br> -->
				<!--
				<button class="remove btn  diary-button" title="Delete Entry">
					<i class=" fa-trash-alt fas"></i>
				</button>
				<button class="edit btn  diary-button" title="Edit Entry">
					<i class="fa-edit fas "></i>
				</button>
		</diary-entry>
		{{/each}} -->
	</diary-entry-list>
<br>



<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-database.js"></script>
<!-- CHANGE TO SCRIPT ONCE DONE WITH CSS -->
	 	<script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/jquery.rateit.min.js"></script>
		<script src="/js/scroll.js"></script>
		<script src="/js/edit.js"></script>


</body>
</html>
