<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/style.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-grid.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap-reboot.css"  type="text/css" rel="stylesheet">
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

</head>
<body>


	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="page-header">
<h1 style="text-align:center; color:#f0ad4e; " >Hello {{id}}</h1>

<button id="setting" style="margin-top:-68px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
</div>
</div>


<br>
<div class="text-center" style="margin-bottom:15px;">
</div>
	{{#each entry}}
	<div id="loop" style = "margin-top:-21px;" class="container diary-area text-center">
		<div id = "one" class="text-center">
			<text class="text-center" style="font-size:15px; font-family: Montserrat, sans-serif;" id="date">{{data.date}} {{data.time}}</text><hr class="rating-hr">

			<div style="margin-top:20px; margin-bottom: 20px;" class=" container text-center">
				<img  src="{{data.imageURL}}" style="width:40vw; height:45vh">

		</div>
		<div id="input">
			<textarea id="comments" rows="4" cols="25" class="row diary-textarea text-center" readonly>{{data.comments}}</textarea><br/>
		</div>
		<div id="ratings" class="text-center diary-rating">
			<text id="health">Health: {{data.health}} &#9734;</text><br>
			<text id="taste">Taste: {{data.taste}} &#9734;</text><br>
			<text id="mood">Mood: {{data.mood}} &#9734;</text><br>
			<text id="anxiety">Anxiety: {{data.anxiety}} &#9734;</text>
			<input type="hidden" value={{key}} id="key">
		</div>
		<hr>
		<!--<button class="edit btn btn-sm entry2BackNext" style="float:right;margin-top: -60px; margin-left:12px;">Edit</button>-->
		<button class="remove btn btn-sm" style="float:right;margin-top: -60px;">Remove</button>
		<hr>
		</div>
	</div>
	{{/each}}
<br>
<div id="bottom" style="margin-top:30px;">
	<button id="idx" >
	<!--
        <button id="entry" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="diary" style="background-color: #f7f0a1; color:#f0ad4e; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="stat" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>
			-->
  	</div>
	 	<script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/jquery.rateit.min.js"></script>
		<script src="/js/stat.js"></script>

<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
	</script>


</body>
</html>
