<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
	<div class="navbar" style="float:left">
		<div class="dropdown">
			<button class="glyphicon glyphicon-list transparent-button " style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index">Home</a>
				<a href="/tab/entry">Entry</a>
				<a href="/tab/stat">Statistics</a>
				<a href="/tab/news">News</a>
				<a href="/tab/setting">Settings</a>
				<a href="/" style="color:red;">Log Out</a>
		</div>
	</div>
	</div>
	<div>
		<a href="#" class="glyphicon glyphicon-question-sign" onclick="helpDiary()" style=" font-size:40px; float:right" role="button" id="help" name="entry"></a>
	</div>
<hr>
<h1 class="page-header text-center" >My Diary</h1>
<div class="text-center" style="margin-bottom:15px;">
	<form class="col-lg-offset-4">
		Search: <input type="date" name="Date">
		<input type="submit">
</form>
</div>


	{{#each datas}}
	<div id = "one" class="container text-center">
		<text>{{date}} {{time}}</text><br>
		<div class="container photo">
			<img src="{{image}}" class="img resize">
		</div>
	<div>
		<text>{{foodName}}</text><br>
		<textarea rows="4" cols="25" class="row" style="resize:none;" readonly>{{comments}}</textarea><br/>
	</div>
	<div>
		<text>Health:{{health}} &#9734;</text><br>
		<text>Taste:{{taste}} &#9734;</text><br>
		<text>Mood:{{mood}} &#9734;</text><br>
		<text>Anxiety:{{anxiety}} </text>
	</div>
		<a href="/tab/entry" class="btn" role="button">Edit</a>
		<button class="remove">Remove</button>
		<hr>
	</div>
	{{/each}}


<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
<br>
<script>
function helpDiary() {
    alert("Tutorials\n\nIn this page, you could view your diary history. You could either scrolls up down or click the calendar to find one specific day."
      );
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".remove").click(function(){
        $("#one").remove();
    });
});
</script>
</body>
</html>
