<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


/* When the input field gets focus, change its width to 100% */
form.example input[type=text]:focus {
    width: 80%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100px;
    background: #f1f1f1;
    transition: width 0.4s ease-in-out;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
</style>

</head>
<body>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<div class="navbar" style="float:left">
		<div class="dropdown">
			<button class="glyphicon glyphicon-list transparent-button " style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index/{{id}}">Home</a>
				<a href="/entry/{{id}}">Entry</a>
				<a href="/stat/{{id}}">Statistics</a>
				<a href="/news/{{id}}">News</a>
				<a href="/setting/{{id}}">Settings</a>
				<a href="/" style="color:red;">Log Out</a>
		</div>
	</div>
	</div>
	<div>
		<a href="#" class="glyphicon glyphicon-question-sign" onclick="helpDiary()" style=" font-size:40px; float:right" role="button" id="help" name="entry"></a>
	</div>




<hr>
<h1 class="page-header text-center" >My Diary</h1>

<form class="example" action="#" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2"/>
  
  
  <button type="submit"><i class="fa fa-search"></i></button>

</form>

<div class="text-center" style="margin-bottom:15px;">
	<form class="col-lg-offset-4">
		Search: <input type="date" name="Date">
		<input type="submit">
</form>
</div>



	{{#each datas}}
	<div id = "one" class="container text-center">
		<text id="date">{{date}} {{time}}</text><br>
		<div class="container photo">
			<img src="{{image}}" class="img resize">
		</div>
	<div>
		<text id="foodName">{{foodName}}</text><br>
		<textarea id="comments" rows="4" cols="25" class="row" style="resize:none;" readonly>{{comments}}</textarea><br/>
	</div>
	<div>
		<text id="health">Health:{{health}} &#9734;</text><br>
		<text id="taste">Taste:{{taste}} &#9734;</text><br>
		<text id="mood">Mood:{{mood}} &#9734;</text><br>
		<text id="anxiety">Anxiety:{{anxiety}} </text>
	</div>
		<a href="#" class="btn btn-sm btn-success" role="button" id='edit'>Edit</a>
		<button class="remove btn btn-sm btn-success">Remove</button>
		<hr>
	</div>
	{{/each}}


<<<<<<< HEAD
<a href="/index/{{id}}" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
=======
<a href="/index" class="myBtnBack" role="button">Back</a>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
>>>>>>> 9aa4b273a1b70e05238a72c7f2730b857492da5c
<br>
<script>
function helpDiary() {
    alert("Tutorials\n\nIn this page, you could view your diary history. You could either scrolls up down or click the calendar to find one specific day."
      );
}
</script>
<script src="/js/user.js"></script>
<script src="/js/entry.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
	 <script src="/js/bootstrap.min.js"></script>
	     <script src="/scripts/jquery.rateit.min.js"></script>
	 <script src="/js/user.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".remove").click(function(){
        $("#one").remove();
				var value = $.trim( $("#date").text());
				location.replace("/remove/"+sessionStorage.getItem('name')+"/"+value);
    });
});
</script>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
	</script>



</body>
</html>
