<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
<style>

/*
    @media (max-width: 600px) {
          body {

        background-image: url("/images/use2.png");
        background-size: 100vw 100vh;
     }
}

@media (min-width: 768px) and (max-width: 991px) {
      body {

        background-image: url("/images/use2.png");
        background-size: 75vw 85vh;
     }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {

        background-image: url("/images/use2.png");
        background-size: 50vw 65vh;
     }
}

@media (min-width: 1200px) {
      body{
        background-image: url("/images/use2.jpng");
        background-size:25vw 50vh;
      }
}

/* When the input field gets focus, change its width to 100% */

form.example input[type=text]:focus {
    width: 80%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100px;
    background: #f1f1f1;
    transition: width 0.4s ease-in-out;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.page-header3 {
  padding-bottom: 13px;
  margin: 0px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  background-color: #25a725ab;
}
</style>

</head>
<body>


	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="page-header">
<h1 style="text-align:center; color:#f0ad4e; " >Hello {{id}}</h1>
<button id="setting" style="margin-top:-82px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
</div>

<!--
	<div>
		<a href="#" class="glyphicon glyphicon-question-sign" onclick="helpDiary()" style="margin-right:8px; font-size:40px; float:right" role="button" id="help" name="entry"></a>
	</div>
-->

<hr>
<!--<h1 class="text-center" style="font-family:Palatino;">My Diary</h1>-->
<div class="text-center" style="margin-bottom:15px;">
</div>

	{{#each datas}}
	<div id="loop" style = "margin-top:-21px;" class="container diary-area text-center">
		<div id = "one" class="text-center">
			<text class="text-center" style="font-size:15px; font-family: Montserrat, sans-serif;" id="date">{{date}} {{time}}</text><hr class="rating-hr">
			<div style="margin-top:20px; margin-bottom: 20px;" class="container text-center">
				<img  src="{{image}}" class="resize">
			</div>
		<div id="input">
			<text class="diary-text text-center" id="foodName">{{foodName}}</text><br>
			<textarea id="comments" rows="4" cols="25" class="row diary-textarea" readonly>{{comments}}</textarea><br/>
		</div>
		<div id="ratings" class="text-center diary-rating">
			<text id="health">Health:{{health}} &#9734;</text><br>
			<text id="taste">Taste:{{taste}} &#9734;</text><br>
			<text id="mood">Mood:{{mood}} &#9734;</text><br>
			<text id="anxiety">Anxiety:{{anxiety}} &#9734;</text>

		</div>
		<hr>
		<button class="edit btn btn-sm entry2BackNext" style="float:right;margin-top: -60px; margin-left:12px;">Edit</button>
		<button class="remove btn btn-sm entry2BackNext" style="float:right;margin-top: -60px;">Remove</button>
		<hr>
		</div>
	</div>
	{{/each}}



<!-- comment this button out because we don't need it base on current navigation bar
<a href="/index/{{id}}" class="myBtnBack" style="font-size:17px; width:127px; height: 32px; text-align: center; border-radius: 6px;" role="button">Back to Entry</a>
-->
<br>
<div id="bottom" style="margin-top:30px;">
        <button id="diary" style="background-color: #f7f0a1; color:#f0ad4e; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="entry" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="stat" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>
        
        <button id="news" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-film"><br>News</button>
      </div>
<script>
function helpDiary() {
    alert("Tutorials\n\nIn this page, you could view your diary history. You could either scrolls up down or click the calendar to find one specific day."
      );
}
</script>
		<script src="/js/user.js"></script>
		<script src="/js/entry.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
	 	<script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/jquery.rateit.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".remove").click(function(){
			$(this).parent('#loop').remove();
        $(this).parent("#one").remove();//$("#one").remove();
				var value = $.trim($(this).siblings('#date').text());
				console.log("calling remove");
				console.log(value);
				location.replace("/remove/"+sessionStorage.getItem('name')+"/"+value);
    });
		$(".edit").click(function(){
			sessionStorage.setItem('edit',true);
			sessionStorage.setItem('editDate',true);
			var image = $(this).siblings('.container').children('img')[0].src;

			var foodName = $(this).siblings('#input').children('#foodName').text();//$('#foodName').text();
			var comments = $(this).siblings('#input').children('#comments').text();//$('#comments').text();
			var health = $(this).siblings('#ratings').children('#health').text();//$('#health').text();
			var taste = $(this).siblings('#ratings').children('#taste').text();//$('#taste').text();
			var mood = $(this).siblings('#ratings').children('#mood').text();//$('#mood').text();
			var anxiety = $(this).siblings('#ratings').children('#anxiety').text();//$('#anxiety').text();
			var date = $(this).siblings('#date').text();//$('#date').text();

			var time = date.substring(9);
			var date = date.substring(0,8);
			health = health.substring(7,8);
			taste = taste.substring(6,7);
			mood = mood.substring(5,6);
			anxiety = anxiety.substring(8,9);

			sessionStorage.setItem('image',image);
			sessionStorage.setItem('foodName',foodName);
			sessionStorage.setItem('comments',comments);
			sessionStorage.setItem('health',health);
			sessionStorage.setItem('taste',taste);
			sessionStorage.setItem('mood',mood);
			sessionStorage.setItem('anxiety',anxiety);
			sessionStorage.setItem('time',time);
			sessionStorage.setItem('date',date);


			location.replace("/entry2/"+sessionStorage.getItem('name'));
		});
});
</script>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
	</script>


</body>
</html>
