<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
	<div><a href="/tab/help" class="col-lg-offset-7 glyphicon glyphicon-question-sign" style="margin-top:10px; font-size:40px" role="button" id="help" name="entry"></a></div>
<h1 class="page-header text-center" >My Diary</h1>
<div id="root">
	{{#each info.0.data}}
	<div class="container">
		<div class="container photo">
		<img src="{{image}}" class="img">
	</div>
	<div>
		<text>{{foodName}}</text><br>
		<textarea rows="8" cols="25" class="row" style="resize:none;" readonly>{{comments}}</textarea><br/>
	</div>
	<div>
		<text>Health:{{health}} &#9734;</text><br>
		<text>Taste:{{taste}} &#9734;</text><br>
		<text>Mood:{{mood}} &#9734;</text><br>
		<text>Anxiety:{{anxiety}} </text>
	</div>
		<a href="#" class="btn" role="button">Edit</a>
	</div>
	<hr>
	{{/each}}
</div>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
</body>
</html>
