<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{

    background-image: url("/images/s32.jpg");



    background-size:100vw 100vh;
}

/* When the input field gets focus, change its width to 100% */
form.example input[type=text]:focus {
    width: 80%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100px;
    background: #f1f1f1;
    transition: width 0.4s ease-in-out;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.page-header3 {
  padding-bottom: 13px;
  margin: 0px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:;
  background-color: #25a725ab;
}
</style>

</head>
<body>


	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<div class="page-header3">
<div class="navbar" style="float:left">
        <div class="dropdown" style="margin-top:4px;">
          <button class="glyphicon glyphicon-list transparent-button " style="font-size:37px;"></button>
          <div class="dropdown-content">
            <a href="/index/{{id}}">Home</a>
            <a href="/diary/{{id}}">Diary</a>
            <a href="/stat/{{id}}">Statistics</a>
            <a href="/news/{{id}}">News</a>
            <a href="/setting/{{id}}">Settings</a>
            <a href="/" style="color:red;" id="logoff">Log Out</a>
        </div>
      </div>
      </div>
    <text style="color:black; margin-left: 81px;font-size: 27px;">Diary</text>
</div>
	<!--
	<div class="navbar" style="float:left">
		<div class="dropdown">
			<button class="glyphicon glyphicon-list transparent-button " style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index/{{id}}">Home</a>
				<a href="/entry2/{{id}}">Entry</a>
				<a href="/stat/{{id}}">Statistics</a>
				<a href="/news/{{id}}">News</a>
				<a href="/setting/{{id}}">Settings</a>
				<a href="/" style="color:red;" id="logout1">Log Out</a>
		</div>
	</div>
	</div>
-->
	<div>
		<a href="#" class="glyphicon glyphicon-question-sign" onclick="helpDiary()" style="margin-right:8px; font-size:40px; float:right" role="button" id="help" name="entry"></a>
	</div>


<hr>
<!--<h1 class="text-center" style="font-family:Palatino;">My Diary</h1>-->
<div class="text-center" style="margin-bottom:15px;">
	<form class="col-lg-offset-4">
</form>
</div>

	{{#each datas}}
	<div id="loop" class="container diary-area text-center">
		<div id = "one" class="text-center">
			<text class="text-center" id="date">{{date}} {{time}}</text><br>
			<div style="margin-top:30px; margin-bottom: 20px;" class="container text-center">
				<img  src="{{image}}" class="resize">
			</div>
		<div id="input">
			<text class="diary-text text-center" id="foodName">{{foodName}}</text><br>
			<textarea id="comments" rows="4" cols="25" class="row diary-textarea" readonly>{{comments}}</textarea><br/>
		</div>
		<div id="ratings" class="text-center diary-rating">
			<text id="health">Health:{{health}} &#9734;</text><br>
			<text id="taste">Taste:{{taste}} &#9734;</text><br>
			<text id="mood">Mood:{{mood}} &#9734;</text><br>
			<text id="anxiety">Anxiety:{{anxiety}} </text>

		</div>
		<hr>
		<button class="edit btn btn-sm entry2BackNext" style="float:right;margin-top: -28px; margin-left:12px;">Edit</button>
		<button class="remove btn btn-sm entry2BackNext" style="float:right;margin-top: -28px;">Remove</button>
		<hr>
		</div>
	</div>
	{{/each}}




<a href="/index/{{id}}" class="myBtnBack" style="width:100px; height: 32px; text-align: center; border-radius: 6px;" role="button">Back to Entry</a>
<br>
<script>
function helpDiary() {
    alert("Tutorials\n\nIn this page, you could view your diary history. You could either scrolls up down or click the calendar to find one specific day."
      );
}
</script>
		<script src="/js/user.js"></script>
		<script src="/js/entry.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
	 	<script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/jquery.rateit.min.js"></script>
	 	<script src="/js/user.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".remove").click(function(){
			$(this).parent('#loop').remove();
        $(this).parent("#one").remove();//$("#one").remove();
				var value = $.trim($(this).siblings('#date').text());
				console.log("calling remove");
				console.log(value);
				location.replace("/remove/"+sessionStorage.getItem('name')+"/"+value);
    });
		$(".edit").click(function(){
			sessionStorage.setItem('edit',true);
			sessionStorage.setItem('editDate',true);
			var image = $(this).siblings('.container').children('img')[0].src;

			var foodName = $(this).siblings('#input').children('#foodName').text();//$('#foodName').text();
			var comments = $(this).siblings('#input').children('#comments').text();//$('#comments').text();
			var health = $(this).siblings('#ratings').children('#health').text();//$('#health').text();
			var taste = $(this).siblings('#ratings').children('#taste').text();//$('#taste').text();
			var mood = $(this).siblings('#ratings').children('#mood').text();//$('#mood').text();
			var anxiety = $(this).siblings('#ratings').children('#anxiety').text();//$('#anxiety').text();
			var date = $(this).siblings('#date').text();//$('#date').text();

			var time = date.substring(9);
			var date = date.substring(0,8);
			health = health.substring(7,8);
			taste = taste.substring(6,7);
			mood = mood.substring(5,6);
			anxiety = anxiety.substring(8,9);

			sessionStorage.setItem('image',image);
			sessionStorage.setItem('foodName',foodName);
			sessionStorage.setItem('comments',comments);
			sessionStorage.setItem('health',health);
			sessionStorage.setItem('taste',taste);
			sessionStorage.setItem('mood',mood);
			sessionStorage.setItem('anxiety',anxiety);
			sessionStorage.setItem('time',time);
			sessionStorage.setItem('date',date);


			location.replace("/entry/"+sessionStorage.getItem('name'));
		});
});
</script>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
	</script>

  <script src="/js/analytics.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

</body>
</html>
