<!DOCTYPE html>
<html>
  <head><!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='171166699-6',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

    <title>Food Diary App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/scripts/rateit.css" rel="stylesheet">
    <style>
body {

    background-image: url("/images/s32.jpg");


    background-size:100vw 100vh;
}
</style>
<style>
 h1{
  margin-top: 50px;

}
h3{
  font-size: 20px;
}
.button {
  background-color: #5cb85c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: transparent; -webkit-box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; -webkit-box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; -webkit-box-shadow: 0 0 3px yellow; }
}

@-moz-keyframes glowing {
  0% { background-color:transparent; -moz-box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; -moz-box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; -moz-box-shadow: 0 0 3px yellow; }
}

@-o-keyframes glowing {
  0% { background-color: transparent; box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; box-shadow: 0 0 3px yellow; }
}

@keyframes glowing {
  0% { background-color:transparent; box-shadow: 0 0 3px yellow; }
  50% { background-color: transparent; box-shadow: 0 0 40px yellow; }
  100% { background-color: transparent; box-shadow: 0 0 3px yellow; }
}

.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  color:#f38207;

}

.KW_progressContainer {
  left:0;
  width: 100%;
  height: 0.7em;
  margin-top: 0px;

  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
  display: table;
  table-layout: fixed;
}

.KW_progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color:orange;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.page-header1 {
  padding-bottom: 13px;
  margin: 10px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:;
  background-color: #25a725ab;
}
</style>
  <body>

    <div class="page-header1">
    <div class="navbar" style="float:left">
            <div class="dropdown" style="margin-top:4px; color:white;">
              <button class="glyphicon glyphicon-list transparent-button " style="font-size:37px;"></button>
              <div class="dropdown-content">
                <a href="/index/{{id}}">Home</a>
                <a href="/diary/{{id}}">Diary</a>
                <a href="/stat/{{id}}">Statistics</a>
                <a href="/news/{{id}}">News</a>
                <a href="/setting/{{id}}">Settings</a>
                <a href="/" style="color:red;" id="logoff">Log Out</a>
            </div>
          </div>
          </div>
        <text style="color:black; margin-left: 81px;font-size: 27px; color:white;">New Entry</text>
    </div>
        <div class="KW_progressContainer">
        <div class="KW_progressBar">

        </div>
      </div>

        <div id="wrapper">
          <div class="text-center" id="top">

    <article>

            <h3 style=" text-align: left; margin-left: 69px; font-family: American Typewriter;">Hello  {{id}} !</h3>
            <h3 style="font-family: American Typewriter;"> Take a photo of your meal</h3>


              <form id="addDiary" role="form" method="post" action="/addDiary/ne">

                <div>
                 <label for="file-input" type="button" style="font-size: 139px; margin-top: 44px;margin-bottom: 28px;" class="transparent-button glyphicon glyphicon-camera glyphicon-size" onclick="showDiv()"></label>


                <div id="welcomeDiv"  style="display:none;margin-top:-33px; margin-bottom: 30px;" class="answer_list" >Click Camera again to retake a photo</div>


                  <input type="file" accept="image/*" style="display:none" id="file-input" capture="environment"/>
                </div>
                <img id="output" style="height:29vh;width:44vw;"><hr>

{{#if viewAlt}}
  <text  id="button" style="float:right;margin-right: 49px;margin-top: -20px; font-size: 19px;">Scroll down ⇩</text>
{{else}}
    <text class="button" id="button" style="float:right;margin-right: 49px;margin-top: -20px; font-size: 19px;">Scroll down ⇩</text>
{{/if}}


            <h3 style="margin-top:107px;font-family: American Typewriter;">Enter food and leave comments</h3>
            <hr>
            <p class="help-block" id="clock" style="margin-top:-15px;margin-bottom: -19px; color:#3c763ddb;margin-left:64px;"></p>
       <img id="photos" style="width:220px; height:270px; margin-top: 20px;"/>
            <hr class ="rating-hr">

            <p class="help-block" id="clock"></p><hr class="rating-hr">
             <div class="container" style="display:inline-block " id="text-input">
              <span class="glyphicon glyphicon-pencil" style="margin-left:49px; margin-right: -5px; font-size:37px; color:#0c1004;"></span>
              <input type="text" class="row" style="border-color:#27AE60 ; border-width: 0px; width:178px; margin-left:2px; height: 35px; margin-right: 4px; border-radius: 25px;" placeholder="     Enter food" name="foodName" id="foodName"/>
              <button class=" glyphicon glyphicon-remove-circle" style="color:#27AE60; font-size: 20px" onclick="document.getElementById('foodName').value = ''"></button><br/>
              <textarea rows="4" cols="30" class="row" style="border-color:#27AE60; border-width: 0px; margin-left:44px;border-radius: 18px; height: 90px; width:225; margin-right: 4px; margin-top:5px; resize:none;" placeholder="      Comments:                                 Eg: I had a really good time with friends eating this wonderful brunch." name="comments" id="comments"></textarea>
              <button class="glyphicon glyphicon-remove-circle" style="color:#27AE60; margin-top: 50px; font-size: 20px" onclick="document.getElementById('comments').value = ''"></button>
             </div>
             <hr>
{{#if viewAlt}}
<text  id="button" style="float:right;margin-right: 25px; font-size: 19px;" >Scroll down ⇩</text>
{{else}}
             <text  class="button" id="button" style="float:right;margin-right: 25px; font-size: 19px;" >Scroll down ⇩</text>
{{/if}}
    <h3 style="color:#0e9447;margin-top:173px;">Finish Self-Rating </h3>

             <form id="addDiary" role="form" method="post" action="/addDiary/ne">
              <div class="container"  id="Rating" >
             <text style="font-size:27px; color:#e6a505; padding-right: 210px" class="Text-input">Taste:</text><br/>
             <div name="taste" class="rateit" id="tasteRate" data-rateit-mode="font" style="margin-top:12px; font-size:36px">
            </div>
            <input type="hidden" name="taste" id="taste" value="0" />

              <text style="font-size:27px; color: #e6a505; padding-right: 210px" class="Text-input">Health:</text><br/>
              <div class="rateit" id="healthRate" data-rateit-mode="font" style="margin-top:12px; font-size:36px">
             </div>
             <input type="hidden" name="health" value="0" id="health"/>

             <text style="font-size:27px; color: #e6a505; padding-right: 210px" class="Text-input">Mood:</text><br/>
             <div class="rateit" id="moodRate" data-rateit-mode="font" style="margin-top:12px; font-size:36px">
             </div>
             <input type="hidden" name="mood" value="0"  id="mood"/>
            <hr>


              <text style="font-size:22px; color: #e6a505; padding-right: 210px" class="Text-input">Anxiety:</text><br/>

              <div class="rateit" id="anxietyRate" data-rateit-mode="font" style="font-size:36px">

              </div>
              <input type="hidden" name="anxiety" value="0" id="anxiety"/>
            <hr>

            <input type="hidden" name="image" id="image" value=""/>
              <input type="hidden" name="date" id="date" value=""/>
              <input type="hidden" name="time" id="time" value=""/>
              <input type="hidden" name="userid" id="userid" value=""/>
              <input type="hidden" name="foodName" id="foodName" value=""/>
              <input type="hidden" name="comments" id="comments" value=""/>
           </div>
           <input type="submit" class="btn btn-sm entry2BackNext" style="float:right; margin-right: 36px;" id="addEntry2" onclick="clicked(event);" value="Add to Diary   ⇨" Text="Submit" />
         </form>




          </div>


       </div>
         <script src="/js/entry.js"></script>
     </article>
        <script src="/js/DisplayClock.js"></script>
         <script src="https://code.jquery.com/jquery.js"></script>
         <script src="/js/bootstrap.min.js"></script>
         <script src="/scripts/jquery.rateit.min.js"></script>
         <script src="/js/user.js"></script>
         <script>
          $("#remove1").onclick = function () {
     this.style.backgroundColor = "#ED3215";
    };

         </script>
    <script>
        const supported = 'mediaDevices' in navigator;
        const player = document.getElementById('player');

        const output = document.getElementById('output');
        const photos = document.getElementById('photos');
      function doSomethingWithFiles(fileList) {
        let file = null;

        for (let i = 0; i < fileList.length; i++) {
          if (fileList[i].type.match(/^image\//)) {
            file = fileList[i];
            break;
          }
        }

        if (file !== null) {
          output.src = URL.createObjectURL(file);
          photos.src = URL.createObjectURL(file);
          sessionStorage.setItem('image',output.src);
        }
      }
      // Attach the video stream to the video element and autoplay.
      const fileInput = document.getElementById('file-input');

      fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));

    </script>
    <script>
    $(window).load(function(){
      $(window).scroll(function() {
        var wintop = $(window).scrollTop(), docheight = $('article').height(), winheight = $(window).height();
        console.log(wintop);
        var totalScroll = (wintop/(docheight-winheight))*100;
        console.log("total scroll" + totalScroll);
        $(".KW_progressBar").css("width",totalScroll+"%");
      });
    });
      </script>
    <script>
       function edit(){
        if(sessionStorage.getItem('edit') == 'true'){
          document.getElementById('output').src = sessionStorage.image;
          console.log(document.getElementById('output').src);
          document.getElementById('foodName').value = sessionStorage.foodName;
          document.getElementById('comments').value = sessionStorage.comments;
          document.getElementById('userid').value = sessionStorage.name;
          $('#tasteRate').rateit('value',sessionStorage.taste);
          $('#healthRate').rateit('value',sessionStorage.health);
          $('#moodRate').rateit('value',sessionStorage.mood);
          $('#anxietyRate').rateit('value',sessionStorage.anxiety);
          $('#clock').text(sessionStorage.date+" "+sessionStorage.time);
          $('#back').attr('href','/diary/'+sessionStorage.name);
          document.getElementById('addDiary').action= '/addDiary/e';
          sessionStorage.setItem('edit',false);
        }
        else{
          document.getElementById('foodName').value = "";
          document.getElementById('comments').value = "";
          $('#tasteRate').rateit('value',0);
          $('#healthRate').rateit('value',0);
          $('moodRate').rateit('value',0);
          $('#anxietyRate').rateit('value',0);
          document.getElementById('addDiary').action = '/addDiary/ne';
        }
      }
    window.onload=edit;
    </script>
    <script>
      function showDiv() {
       document.getElementById('welcomeDiv').style.display = "block";
    }
      </script>
      <script src="/js/analytics.js"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114570926-2');
      </script>
  </body>
</html>
