<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<style>
body {
    background-image: url("/images/s32.jpg");


    background-size:100vw 100vh;
}
h2{
	font-family: Impact, Charcoal, sans-serif;

}
p{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
}
</style>
<body>
	<div class="navbar" style="float:left">
		<div class="dropdown">
			<button class="glyphicon glyphicon-list transparent-button " style="font-size:40px;"></button>
			<div class="dropdown-content">
				<a href="/index/{{id}}">Home</a>
				<a href="/entry2/{{id}}">Entry</a>
				<a href="/diary/{{id}}">Diary</a>
				<a href="/stat/{{id}}">Statistics</a>
				<a href="/setting/{{id}}">Settings</a>
				<a href="/" style="color:red;" id="logout1">Log Out</a>
		</div>
	</div>
	</div>
	<div>

		<a href="#" class="glyphicon glyphicon-question-sign" onclick="helpNews()" style=" font-size:40px; float:right" role="button" id="help" name="entry"></a>
	</div>
<hr>
<h1 class="text-center" style="font-family:Palatino;">News</h1>
<div id="root">
	<h2 class="container text-center" style=" font-family:comic sans ms;">Fun</h2><hr>
	<div class="text-center" id="FUN">
		<div class="scrolling-box text-center">
			<h3>How Animals Eat</h3>
			<iframe width="560" height="315" style="max-width:80vw;" src="https://www.youtube.com/embed/1PAghQ7jvL4" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
			<hr>
			<h3 style="font-size:4px">Funny Baby Eating Cake</h3>
			<iframe width="560" height="315" style="max-width:80vw;" src="https://www.youtube.com/embed/kbOgbll5tiw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
			<h3 style="font-size:4px">Panda Eating</h3>
			<iframe width="560" height="315" style="max-width:80vw;" src="https://www.youtube.com/embed/EnWYNIwWj3s" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
			<h3 style="font-size:4px">Funny Rancoo Eating</h3>
			<iframe width="560" height="315" style="max-width:80vw;" src="https://www.youtube.com/embed/T9PeJo67jyg" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
			<h3 style="font-size:4px">Funny Baby Fall Asleep</h3>
			<iframe width="560" height="315" style="max-width:80vw;" src="https://www.youtube.com/embed/G3Bao_JX0VY" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<hr>
	<h2 class="container text-center" style="font-family:comic sans ms;">Health Tips<h2>
	<div class="text-center" id="TIPS">
		<div>
			<div class="scrolling-box" style="overflow:auto">
				<div>
					<div id="content" style="display:inline-block;">
					<p style="font-family: 'Roboto', sans-serif;">Eating right-what you put in your mouth -- starts with what you put in your shopping cart! </p>
					<a style="font-size:25px; font-family: 'Roboto', sans-serif;" href="https://healthyforgood.heart.org/eat-smart/articles/5-easy-ways-to-find-healthier-options-at-the-grocery-store">See Details</a>
				</div>
			</div>
			<hr>
				<div>
					<div id="content" style="display:inline-block; margin:0; ">
						<p style="font-family: 'Roboto', sans-serif;">Mindful Eating: Savor the Flavor</p>
						<a style="font-size:25px; font-family: 'Roboto', sans-serif;" href="https://healthyforgood.heart.org/be-well/articles/mindful-eating-savor-the-flavor" >See Details</a>
				</div>
		</div>
		<hr>
		<div>
					<div id="content" style="display:inline-block; ">
						<p style="font-family: 'Roboto', sans-serif;">12 Strange-But-True Health Tips</p>
						<a style="font-size:25px; font-family: 'Roboto', sans-serif;" href="http://www.health.com/health/gallery/0,,20857218,00.html#crazy-health-tricks-that-really-work-0" >See Details</a>
				</div>
		</div>
		<hr>
		<div>
					<div id="content" style="display:inline-block; ">
						<p style="font-family: 'Roboto', sans-serif;">Heavy Drinking Is the Biggest Risk Factor for Dementia</p>
						<a style="font-size:25px; font-family: 'Roboto', sans-serif;" href="http://time.com/5169466/alcohol-leading-to-dementia/" >See Details</a>
				</div>
		</div>
		<hr>
		<div>
					<div id="content" style="display:inline-block; ">
						<p style="font-family: 'Roboto', sans-serif;">Here's Why Doctors Often Miss Heart Attack Symptoms in Women</p>
						<a style="font-size:25px; font-family: 'Roboto', sans-serif;" href="http://time.com/5168411/women-heart-attack-symptoms/" >See Details</a>
				</div>
		</div>
	</div>
</div>
<a href="/index/{{id}}" class="btn btn-primary" role="button">Back</a>
<script>
function helpNews() {
    alert("News:\n\nThis is the place where you could have fun while you are eating meals. You could browse the latest funny videos about eating that makes you laugh and the scientific healthy tips to help you eat healthier. This also contributes users to have a better mood."
    	);
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
  $('#bookmarkme').click(function() {
    if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
      window.sidebar.addPanel(document.title, window.location.href, '');
    } else if (window.external && ('AddFavorite' in window.external)) { // IE Favorite
      window.external.AddFavorite(location.href, document.title);
    } else if (window.opera && window.print) { // Opera Hotlist
      this.title = document.title;
      return true;
    } else { // webkit - safari/chrome
      alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != -1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
    }
  });
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

</body>
</html>
