<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">




<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="/scripts/rateit.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

</head>
<style>
    @media (max-width: 600px) {
          body {

        background-image: url("/images/use2.png");
        background-size: 100vw 100vh;
     }
}

@media (min-width: 768px) and (max-width: 991px) {
      body {

        background-image: url("/images/use2.png");
        background-size: 75vw 85vh;
     }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {

        background-image: url("/images/use2.png");
        background-size: 50vw 65vh;
     }
}

@media (min-width: 1200px) {
      body{
        background-image: url('/images/use2.png');
        background-size:25vw 50vh;
      }
}

h3 {
	margin-left: 30px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
h4{
	text-align:left;
	margin-left: 60px;
	display:inline-block;
    float:left;
    font-family: serif;
}
label {
	font: Arial, Helvetica, sans-serif 100px;
	margin-left: 40px;
}

.page-header2 {
  padding-bottom: 13px;
  margin: 0px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:;
  background-color: #25a725ab;
}
</style>

<body>

<!--
	<div class="page-header2 text-center">
<div class="navbar" style="float:left">
        <div class="dropdown" style="margin-top:4px; color:white;">
          <button class="glyphicon glyphicon-list transparent-button " style="font-size:37px; color:white"></button>
          <div class="dropdown-content">
            <a href="/index/{{id}}">Home</a>
			<a href="/entry2/{{id}}">Entry</a>
            <a href="/diary/{{id}}">Diary</a>
            <a href="/stat/{{id}}">Statistics</a>
            <a href="/news/{{id}}">News</a>

            <a href="/" style="color:red;" >Log Out</a>
        </div>
      </div>
      </div>

    <text style="color:black;font-size: 27px; color:white; margin-left: -42px;">Settings</text>

</div>

</div>
-->
<div class="page-header">
<h1 style="text-align:center; color:#f0ad4e; " >Settings</h1>
<button id="setting" style="margin-top:-82px;float:right; background-color: transparent; color:#f0ad4e; font-size: 31px;" class="btn glyphicon glyphicon-cog"><br></button>
</div>

<hr>
<div id="root">
<div class="text-center !important">
	<h3>Account Information</h3><hr>
	<div class="container text-center" id="account">
		<h4 style="margin-top:-12px;">Username: {{id}}</h4>
		<hr>
		<h4 style="margin-top:-12px;">Email: {{email}}</h4>
		<hr>
		<h4>Phone: {{phone}}</h4>

	</div>
</div>
	<fieldset>
	<a href="/" class="text-center btn btn-info btn-sm " style=" margin-left:145px; ; width:100px;" onclick="clicked(event);" role="button" id="logoff">Log Off</a>

</fieldset>
	<form>
		<fieldset>
			<h3>Notifications:</h2><hr>
				<div id="Location">
					<h4>Allow Location</h4>
					<label for="location"></label>
					<label class="switch">
		  			<input type="checkbox">
		  			<span class="slider round"></span>
					</label><br>
				</div>
				<div id="camera">
					<h4>Allow Camera</h4>
					<label for="camera"></label>
					<label class="switch">
				  	<input type="checkbox">
				  	<span class="slider round"></span>
				</label><br>
				</div>
		</fieldset>
	</form>
	<hr>
	<!--
	<h3>Privacy</h2><hr>
		<div id="share">
			<h4>Share my diary</h4>
			<label class="switch">
	  		<input type="checkbox">
	  		<span class="slider round"></span>
			</label>
		</div>
	-->
	<hr>
	<div id="bottom" style="margin-top:30px;">
        <button id="diary" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="quarter glyphicon glyphicon-book btn"><br>Diary</button>
        <button id="entry" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-pencil"><br>Entry</button>
        <button id="stat" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-stats"><br>Stats</button>
        
        <button id="news" style="background-color: #fcf8e3; color:#f0ad4e; font-size: 19px;" class="btn quarter glyphicon glyphicon-film"><br>News</button>
      </div>
</div>
<script src="/js/user.js"></script>
<script src="/js/entry.js"></script>

<script>
function clicked(e)
{

    if(!confirm('Are you sure to log off?'))e.preventDefault();

}
</script>
</body>
</html>
