<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript vvplugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
</head>
<style>
body{
    background-image: url("/images/s32.jpg");


    background-size:100vw 100vh;
}

.page-header3 {
  padding-bottom: 13px;
  margin: 0px 0 20px;
  border-bottom: 0px solid #eeeeee;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:;
  background-color: #25a725ab;
}
</style>

<body>
	<input type="hidden" id="userid" name="userid" value=""/>

		<div class="page-header3">
<div class="navbar" style="float:left">
        <div class="dropdown" style="margin-top:4px; color:white;">
          <button class="glyphicon glyphicon-list transparent-button " style="font-size:37px;"></button>
          <div class="dropdown-content">
            <a href="/index/{{id}}">Home</a>
						<a href="/entry2/{{id}}">Entry</a>
            <a href="/diary/{{id}}">Diary</a>
            <a href="/news/{{id}}">News</a>
            <a href="/setting/{{id}}">Settings</a>
            <a href="/" style="color:red;" id="logoff">Log Out</a>
        </div>
      </div>
      </div>
    <text style="color:black; margin-left: 81px;font-size: 27px; color:white;">Statistic</text>
</div>

		<div>
		  <a href="#" class="glyphicon glyphicon-question-sign" onclick="helpStat()" style=" font-size:40px; float:right;" role="button" id="help" name="stat"></a>
		</div>
<hr>
<div id="root" class="text-center">

	<div align="center" >
			<a href="#" class="btn selection" style="font-size: 21px; color:black;" role="button" id="taste">Taste</a>
			<a href="#" class="btn selection" style="font-size: 19px; color:black;" role="button" id="health">Health</a>
			<a href="#" class="btn selection" style="font-size: 19px; color:black;" role="button" id="mood">Mood</a>
			<a href="#" class="btn selection" style="font-size: 19px; color:black;" role="button" id="anxiety">Anxiety</a>
	</div>
	<div class="container">

	<select name="timespan" class="col-lg-offset-2" >
		<option value="weekly" id="week">Weekly</option>
		<option value="monthly" id="month">Monthly</option>
		<option value="yearly" id="year">Yearly</option>
	</select>
	<!--
	<a href = "/cal1" row = "button" class="glyphicon glyphicon-calendar" style="padding-left:5px; font-size:50px"></a><br>
	-->
	<div class="container" >
		<img src="/images/t.jpg" class="img" style="margin-top: 46px; max-width:90%;max-height:90%;">
	</div>

</div>
<a href="/index/{{id}}" class="btn btn-primary " style="margin-top:237px; margin-left: 27px; float:left;" role="button" id="back">Home</a>
<script src="/js/stat.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
	document.getElementById('userid').value=sessionStorage.getItem('userid');
function helpStat() {
    alert("Tutorials\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood."
      );
}
</script>
  <script src="/js/analytics.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114570926-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114570926-2');
</script>

</body>
</html>
